<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Corner of Good Food</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <h2>Statistics</h2>
        <h3>Number of guests per days for you</h3>
        <canvas id="guestsPerDays" width="400" height="400"></canvas><br/><br/>
        <h3>Distribution of guests among the waiters</h3>
        <canvas id="guestsInRestaurant" width="400" height="400"></canvas><br/><br/>
        <h3>Average number of bookings in the last 24 months per day in a week</h3>
        <canvas id="daysInWeek" width="400" height="400"></canvas><br/><br/>
    </div>
</body>
</html>
