<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h2>Registration</h2>
        <form>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="username">Username:</label>
                    <input type="text" class="form-control" id="username" [(ngModel)]="user.username" name="username" required>
                    <span class="text-danger">{{usernameMessage}}</span>
                </div>
                <div class="form-group col-md-6">
                    <label for="password">Password:</label>
                    <input type="password" class="form-control" id="password" [(ngModel)]="user.password" name="password" required>
                    <span class="text-danger">{{passwordMessage}}</span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="securityQuestion">Security Question:</label>
                    <input type="text" class="form-control" id="securityQuestion" [(ngModel)]="user.securityQuestion" name="securityQuestion" required>
                    <span class="text-danger">{{securityQuestionMessage}}</span>
                </div>
                <div class="form-group col-md-6">
                    <label for="securityAnswer">Security Answer:</label>
                    <input type="text" class="form-control" id="securityAnswer" [(ngModel)]="user.securityAnswer" name="securityAnswer" required>
                    <span class="text-danger">{{securityAnswerMessage}}</span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="firstName">First Name:</label>
                    <input type="text" class="form-control" id="firstName" [(ngModel)]="user.firstName" name="firstName" required>
                    <span class="text-danger">{{firstNameMessage}}</span>
                </div>
                <div class="form-group col-md-6">
                    <label for="lastName">Last Name:</label>
                    <input type="text" class="form-control" id="lastName" [(ngModel)]="user.lastName" name="lastName" required>
                    <span class="text-danger">{{lastNameMessage}}</span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="address">Address:</label>
                    <input type="text" class="form-control" id="address" [(ngModel)]="user.address" name="address" required>
                    <span class="text-danger">{{addressMessage}}</span>
                </div>
                <div class="form-group col-md-6">
                    <label for="phone">Phone:</label>
                    <input type="text" class="form-control" id="phone" [(ngModel)]="user.phone" name="phone" required>
                    <span class="text-danger">{{phoneMessage}}</span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="email">E-mail:</label>
                    <input type="email" class="form-control" id="email" [(ngModel)]="user.email" name="email" required>
                    <span class="text-danger">{{emailMessage}}</span>
                </div>
                <div class="form-group col-md-6">
                    <label for="creditCard">Credit Card Number:</label>
                    <input type="text" class="form-control" id="creditCard" [(ngModel)]="user.creditCard" name="creditCard" required>
                    <span class="text-danger">{{creditCardMessage}}</span>
                </div>
            </div>
            <div class="form-group">
                <label>Gender:</label><br/>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="pol" id="polM" [(ngModel)]="user.gender" value="M" checked>
                    <label class="form-check-label" for="polM">Male</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="pol" id="polF" [(ngModel)]="user.gender" value="F">
                    <label class="form-check-label" for="polF">Female</label>
                </div>
            </div>
            <div class="form-group row">
                <label for="profileImage" class="col-auto col-form-label">Profile Image:</label>
                <div class="col-auto">
                  <input type="file" class="form-control" id="profileImage" accept=".jpg,.png" name="profileImage" (change)="profileImageProcess($event)">
                </div>
                <span class="col-auto text-danger">{{profileImageMessage}}</span>
            </div>
            <button type="submit" class="btn btn-primary" (click)="registration()">Registration</button>
        </form>
    </div>
</body>
</html>